@model List<Catalog.Category>

@{
    Layout = "_Layout";
}

<form method="post">
    Name: <input type="input" name="name" value=""/>
    <br/>
    Price: <input type="input" name="price" value="" required="required"/> 
    <br/>
    Category: <select name="category">
        @foreach (var cat in Model)
        {
            <option>@cat.Name</option>
        }
    </select>
    <br/>
    <input type="submit" name="ok" value="Добавить"/>
</form>