@using Glory.Domain
@model List<Product>

@{
    Layout = "_Layout";
}

<h2>Products:</h2>
@foreach (var p in Model)
{
    <div class="alert-info">@p.Name (@p.Category.Name category), @p.Price $</div>
}
