@page "/AccountsPage"
@using ShopClient
@using Glory.Domain

@inject ClientDTO _client;

<h3>Accounts</h3>
@if (_accounts != null)
{
    @foreach (var account in _accounts)
    {
        <p>
            @account.Name, @account.Email
        </p>
    }
}
@if(_accounts?.Count == 0)
{
    <h4>Раздел только для администраторов!</h4>
}

@code {
    private IList<AccountDTO>? _accounts;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _accounts = await _client.GetAccounts();
        await InvokeAsync(StateHasChanged);
    }
}