@page "/AccountsPage"
@using ShopClient
@using Glory.Domain
@using BlazorWebAssemblyKW12.Data;

@inject ClientDTO _client;

@inherits AppComponentBase;

<h3>Accounts</h3>
@if (_accounts != null)
{
    @foreach (var account in _accounts)
    {
        <p>
            @account.Name, @account.Email
        </p>
    }
}
else
{
    <h4>Раздел только для администраторов!</h4>
}

@code {
    private IList<AccountDTO>? _accounts;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            _accounts = await _client.GetAccounts();
        }
        catch (HttpRequestException){}
        await InvokeAsync(StateHasChanged);
    }
}