@page "/AddAccountPage"
@using ShopClient
@using Glory.Domain

@inject ClientDTO _client; 

<h3>Add Account</h3>

<EditForm Model="_addFormModel" OnValidSubmit="AddValidAccount">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    Имя: <InputText @bind-Value="_addFormModel.Name"></InputText><br/>
    Почта: <InputText @bind-Value="_addFormModel.Email"></InputText><br/>
    Пароль: <InputText @bind-Value="_addFormModel.Password"></InputText><br/>
    <br/>
    <select @bind="Role">
        <option>user</option>
        <option>admin</option>
    </select>
    <br/>
    <input type="submit" value="Добавить"/>
</EditForm>

@code {
    private AccountRequestDTO _addFormModel = new();
    private string? Role { get; set; }

    private async void AddValidAccount()
    {
        if (Role is null)
            Role = "user";

        await _client.AddAccount(
            new AccountRequestDTO(
                _addFormModel.Name,
                _addFormModel.Email,
                _addFormModel.Password, 
                Role));
    }

}