@page "/AddProductPage"

@using System.ComponentModel.DataAnnotations
@using ShopClient

@inject ClientDTO _client; 

<h3>Добавление продукта:</h3>
<EditForm Model="_addFormModel" OnValidSubmit="AddValidProduct">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    Название товара: <InputText @bind-Value="_addFormModel.Name"></InputText><br/>
    Цена: <InputNumber @bind-Value="_addFormModel.Price"></InputNumber><br/>
    <br/>
    <input type="submit" value="Добавить"/>
</EditForm>

@code {
    private AddForm _addFormModel = new();
    
    private class AddForm
    {
        [Required]
        public string Name { get; set; }

        [Required]
        public int Price { get; set; } = 100;
    }

    private async void AddValidProduct() =>
        await _client.AddProduct(
            _addFormModel.Name, _addFormModel.Price);
}