@page "/AuthorizationPage"
@using ShopClient
@using Microsoft.AspNetCore.Components
@using Glory.Domain
@using BlazorWebAssemblyKW12.Data;

@inject ClientDTO _client;
@inject NavigationManager _navigation;

@inherits AppComponentBase;

<h3>Authorization</h3>

<EditForm Model="_addFormModel" OnValidSubmit="AuthorizeValidAccount">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    Почта: <InputText @bind-Value="_addFormModel.Email"></InputText><br/>
    Пароль: <InputText @bind-Value="_addFormModel.Password"></InputText><br/>
    <br/>
    <input type="submit" value="Войти"/>
</EditForm>

@if (!string.IsNullOrEmpty(_name))
{
    <p>Hi, @_name !</p>
}
else if (_isPushed)
{
    <p>Error 401: Unauthorized</p>
}

@code {
    private readonly AccountRequestDTO _addFormModel = new();
    private string? _name;
    private bool _isPushed;

    private async Task AuthorizeValidAccount()
    {
        var _response = await _client.Authorize(
            new AccountRequestDTO(
                _addFormModel.Name,
                _addFormModel.Email,
                _addFormModel.Password));
        _isPushed = true;

        if (_response is not null && _response.Length != 0)
        {
            var name_token = _response.Split('/');
            _name = name_token[0];
            await SetToken(name_token[1]);
            _navigation.NavigateTo("MyAccount");
        }
    }
    
}