@page "/CatalogPage"

@using BlazorWebAssemblyKW12.Data
@using Glory.Domain
@using ShopClient

@inject ICatalog _myCatalog;
@inject ICart _cart;
@inject ClientDTO _productsClientDto;

<h3>
    Catalog
    <NavLink class="nav-link"
             href="addProductPage">+</NavLink>
</h3>

@* @foreach (Product prod in @_myCatalog.GetProducts(DateTime.Now.DayOfWeek, "Windows")) *@
@* { *@
@*     <p> *@
@*         <ProductComponent Product="prod"/> *@
@*         @{ _ref = "productpage/" + prod.Name; } *@
@*         <NavLink href=@_ref>Просмотр товара</NavLink> *@
@*         <button class="btn btn-outline-success" @onclick="() => _cart.AddProduct(prod)">Добавить в корзину</button> *@
@*     </p> *@
@* } *@

@if (_products != null)
{
    @foreach (var product in _products)
    {
        <ProductComponent Product="product"/>
        <button class="btn btn-outline-success"
                @onclick=" async () => await _productsClientDto.AddToCart(product.Id)">
            Добавить в корзину
        </button>
    }
}
@code
{
    // private string? _ref;
    private IList<ProductDTO>? _products;
    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();
       _products = await _productsClientDto.GetProducts();
        await InvokeAsync(StateHasChanged);
    }
}