@page "/counter"
@using ShopClient

@inject ClientDTO _client;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Нажимайте до 5 чтобы получить доступ к каталогу</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        if (currentCount == 5)
            _client.AddApiKey("catalog access");
    }

}