@page "/MyAccount"
@using ShopClient
@using Glory.Domain

@inject ClientDTO _client;

<h3>My Account</h3>

@if (_account == null || _account.Id == 0)
{
    <h4>Раздел только для пользователей, войдите в систему!</h4>
}
else
{
    <h4>
        Hello, @_account.Name !
    </h4>
    <h5>
        Id: @_account.Id
        Email: @_account.Email
    </h5> 
}

@code {
    private AccountDTO? _account;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _account = await _client.GetAccount();
        await InvokeAsync(StateHasChanged);
    }

}