@page "/MyAccount"
@using ShopClient
@using Glory.Domain
@using BlazorWebAssemblyKW12.Data;

@inject ClientDTO _client;

@inherits AppComponentBase;

<h3>My Account</h3>

@if (_account == null)
{
    <h4>Раздел только для пользователей, войдите в систему!</h4>
}
else
{
    <h4>
        Hello, @_account.Name !
    </h4>
    <h5>
        Id: @_account.Id
        Email: @_account.Email
    </h5>
    @*<button @onclick="async () => await Logout()">Выйти</button>*@
}

@code {
    private AccountDTO? _account;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            _account = await _client.GetAccount();
        }
        catch (HttpRequestException){}
        await InvokeAsync(StateHasChanged);
    }

}