@page "/product"
@using global::Glory.Domain
@inject ICatalog _catalog;

<h3>Product </h3>
<h4>@_currentProduct.Name, price = @_currentProduct.Price</h4>
<p>
    <img src="@_currentProduct.ImageRef" width="200" height="200"/>
</p>
@code {
    private Product _currentProduct;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _catalog
            .GetProducts(DateTime.Now.DayOfWeek, "Windows")
            .TryPeek(out _currentProduct);
    }
}